<section class="page about-page">
    <h2>Về Lễ Hội Trung Thu</h2>
    <p>
      Trung Thu là dịp đoàn viên, là khi ánh trăng tròn soi sáng nụ cười hạnh phúc
      trên khắp mọi nẻo đường. Những đoàn múa rồng, múa lân cùng tiếng trống vang
      dội hòa quyện vào bầu không khí náo nhiệt, mang đến niềm vui cho mọi người.
    </p>
    <img src="/public/images/tai-anh-rong-dep-nhat-the-gioi-42.jpg.webp" class="about-dragon" alt="Rồng Trung Thu" />
  </section>
  